.classpath
.project
.gradle
target
**/target/
cobertura.ser
*.pyc
*.swp
target-eclipse
.settings
build/
*.log
**/fragment/
**/thumbnail/
*.iml
*.ipr
*.iws
.idea
*.jar
*.orig
web-app/WEB-INF/tld
wrapper/
